<article
  v-if="cart && cartCount > 0"
  class="px-2 pt-2 overflow-scroll overflow-x-hidden overflow-y-auto"
  style="max-height: 75%"
>
  <ul>
    <li
      v-for="item in cart.items"
      :key="item.title"
      class="flex justify-between items-center h-32 mb-3"
    >
      <a :href="item.url" v-if="item.image">
        <img class="h-32" :src="item.image" :alt="item.title" />
      </a>
      <div class="w-1/2">
        <h3 class="text-sm font-semibold">
          <a :href="item.url" class="">${ item.product_title }</a>
        </h3>
        <p class="text-sm font-light">${ item.variant_title }</p>
        <div class="text-xs font-semibold text-right">
          ${ toPrice(item.price) }
        </div>
        <span
          class="
            flex
            justify-between
            items-center
            h-6
            border border-gray-500
            rounded
            px-2
            py-1
            mt-2
          "
        >
          <button
            class="font-medium quantity-btn relative quantity-selector"
            @click="decItem(item)"
          >
            -
          </button>
          <span class="text-xs font-medium quantity-selector">
            ${ item.quantity }
          </span>
          <button
            class="font-medium quantity-btn relative quantity-selector"
            @click="incItem(item)"
          >
            +
          </button>
        </span>
      </div>
    </li>
  </ul>
</article>
  
<div class="absolute bottom-5" style="width: 87.5%" v-if="cart && cartCount > 0">
  <div
    class="
      flex
      justify-between
      items-center
      text-sm
      py-3
      border-t border-gray-700
    "
  >
    <span>Subtotal: </span>
    <span class="font-semibold">${ toPrice(cart.total_price) }</span>
  </div>
  <a
    href="/checkout"
    class="
      block
      text-center
      cursor-pointer
      w-full
      px-4
      py-2
      text-white
      bg-gray-700
      border border-gray-700
      hover:bg-white hover:text-gray-700
      transition-colors
    "
  >
    Checkout
  </a>
</div>

<h2 v-else class="text-2xl text-gray-300 text-center mt-20">empty</h3>
