<li
  @click="toggleOptionsList(option)"
  :class="['text-center relative', { 'bg-gray-200': option.visible }]"
>
  <span class="absolute left-0">${option.name}</span
  >${form.selected[option.name]}
</li>
<ul v-show="option.visible" class="absolute left-0 bottom-full w-full">
  <li
    v-for="(value, index) in option.values"
    :key="value"
    @click="updateSelected(option, value)"
    class="
      w-full
      px-4
      py-2
      border border-gray-700
      bg-white
      hover:bg-gray-200
      cursor-pointer
    "
  >
    ${value}
  </li>
</ul>
