<div
  @click="toggleOptionsList(option)"
  :class="{ labelActive: option.visible }"
>
  ${option.name} <span>${form.selected[option.name]}</span>
</div>
<div v-show="option.visible">
  <div v-for="(value, index) in option.values" :key="value" @click="updateSelections(option, value)">
    ${value}
  </div>
</div>
