<li @click="toggleOptionsList(option)" class="text-center relative">
  <span class="absolute left-0">${option.name}:</span
  ><span class="font-light">${form.selected[option.name]}</span>
</li>
<ul v-show="option.visible" class="absolute left-0 bottom-full w-full">
  <li
    v-for="(value, index) in option.values"
    :key="value"
    @click="updateSelected(option, value)"
    class="
      w-full
      px-4
      py-2
      border border-gray-700
      bg-white
      hover:bg-gray-200
      cursor-pointer
      box-border
      transition-colors
    "
  >
    ${value}
  </li>
</ul>
