<section class="py-1 sm:py-4">
  <img
    src="{{ section.settings.image | img_url: 'master' }}"
    alt=""
    class="w-full"
  />
</section>

<!-- prettier-ignore -->
{% schema %} 
{ 
    "name": "Hero Image", 
    "settings": [ 
        { 
            "type": "image_picker",
            "id": "image", 
            "label": "Image" 
        } 
    ],
    "presets": [
        {
            "name": "Hero Image",
            "category": "Image"
        }
    ]
} 
{% endschema %}
