<h1 class="text-2xl font-semibold">
  {{ collection.title }}
</h1>
<section
  class="
    mx-auto
    mt-5
    mb-10
    sm:mt-10
    px-12
    sm:px-32
    md:px-24
    lg:px-32
    xl:px-40
    grid grid-cols-1
    md:grid-cols-2
    lg:grid-cols-3
    gap-5
    sm:gap-6
    md:gap-7
    lg:gap-8
  "
>
  {% for product in collection.products %} {% render 'product-card', product:
  product %} {% endfor %}
</section>
